In [13]:
pip install tabula-py

Requirement already satisfied: tabula-py in /usr/local/lib/python3.10/dist-packages (2.9.0)
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.25.2)
Requirement already satisfied: distro in /usr/lib/python3/dist-packages (from tabula-py) (1.7.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2023.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)

In [43]:
import tabula
file1 = ("/content/Sales.pdf")
table = tabula.read_pdf(file1,pages=1)
table[0]

,Menu Item,Menu Group,Menu,Item Qty,Net Amount
0,Filter Coffee,Beverages,Beverages,"3,342","$12,912.43"
1,Mylapore Express Curries,Extras,Extras,"1,521","$26,619.58"
2,Thatte Idly,Breakfast,Breakfast,875,"$8,598.53"
3,24oz-Mylapore Express Curry (Single),Extras,Extras,858,"$8,338.84"
4,Idly Vada Combo,Breakfast,Breakfast,739,"$7,627.95"
5,Bengaluru Special - Dine in only,Breakfast,Breakfast,609,"$1,199.22"
6,Thattte Idly,Dinner,Dinner,577,"$5,663.79"
7,Extra Idly,Extras,Extras,491,"$1,209.14"
8,Coconut Chutney,Extras,Extras,425,$847.16
9,Poori Masaal,Sunday Special,Sunday Special,403,"$1,929.83"
10,Hot Badam Milk,Beverages,Beverages,403,"$1,554.74"
11,Extra Vada,Extras,Extras,395,$775.58
12,Masala Chai,Beverages,Evening Special,394,"$1,309.16"

In [42]:
table2 = tabula.read_pdf(file1,pages=2)
table2[0]

,Menu Item,Menu Group,Menu,Item Qty,Net Amount,Unnamed: 0
0,Vazhaikkai Bajji,Wednesday Special,Wednesday Special,375,"$1,781.77",NaN
1,Thattte Idly,Dinner 3PD,Dinner 3PD,375,"$4,125.00",NaN
2,Medhu Vada,Breakfast,Breakfast,364,"$3,557.10",NaN
3,Kanjivaram Idly,Saturday Special,Saturday Special,345,"$1,650.81",NaN
4,Idly Vada Combo,Dinner,Dinner,337,"$3,488.11",NaN
5,Mango Lassi,Beverages,Beverages,306,"$1,026.03",NaN
6,Rose Milk,Beverages,Beverages,292,$998.56,NaN
7,Kothu Parotta,Dinner,Dinner,275,"$2,692.24",NaN
8,Thatte Idly,Breakfast 3PD,Breakfast 3PD,269,"$2,959.00",NaN
9,Vada Pav,Monday Special,Monday Special,260,"$1,266.16",NaN
10,Parotta Kurma,Dinner,Dinner,255,"$2,482.86",NaN
11,Mini Tiffin,Breakfast,Breakfast,251,"$2,981.77",NaN
12,Onion Tomato Chilli Uthappam (2 pcs),Uthappam 3PD,Uthappam 3PD,250,"$2,982.03",NaN
13,Medhu Vada,Dinner,Dinner,246,"$2,427.03",NaN
14,Mixture,Sweets & Snacks,Sweets & Snacks,245,"$2,367.56",NaN
15,Idly Batter,Batter,Batter,240,"$1,995.43",NaN
16,Potato Bonda,Thursday Special,Thursday Special,237,"$1,087.83",NaN
17,Mini Idly - Sambar On the Side,Breakfast,Breakfast,230,"$2,375.04",NaN
18,Laddu,Sweets & Snacks,Sweets & Snacks,230,"$2,702.38",NaN
19,Vada Idly Pongal (VIP),Breakfast,Breakfast,216,"$2,249.05",NaN
20,Adai Aviyal,Friday Special,Friday Special,215,"$1,022.55",NaN
21,Hot Lunch - No Rice,Lunch,Lunch,214,"$4,518.04",NaN
22,Spiced Buttermilk,Beverages,Beverages,212,$729.22,NaN
23,Masala Vada (6pcs),Snacks,Evening Special,212,"$1,685.40",NaN
24,Dosa batter,Batter,Batter,194,"$1,614.15",NaN
25,Thattte Idly,Dinner,Dinner Online,190,"$1,836.78",NaN
26,Idly Vada Combo,Breakfast 3PD,Breakfast 3PD,189,"$2,182.95",NaN
27,Ribbon Pakoda,Sweets & Snacks,Sweets & Snacks,184,"$1,436.29",NaN
28,Sambar - 16oz,Extras,Extras,182,"$1,438.78",NaN
29,Bisibele Bath,Lunch,Lunch,181,"$1,778.72",NaN
30,Mini Idly - Sambar On the Side,Dinner,Dinner,180,"$1,868.11",NaN
31,Vegan Filter Coffee,Beverages,Beverages,178,$768.17,NaN

In [41]:
table3 = tabula.read_pdf(file1,pages=3)
table3[0]

,Menu Item,Menu Group,Menu,Item Qty,Net Amount,Unnamed: 0
0,Parotta Kurma,Dinner 3PD,Dinner 3PD,176,"$1,936.00",NaN
1,Jangri,Sweets & Snacks,Sweets & Snacks,174,"$2,045.79",NaN
2,Vegetable Pakoda,Snacks,Evening Special,174,"$1,383.30",NaN
3,Butter Murukku,Sweets & Snacks,Sweets & Snacks,173,"$1,694.84",NaN
4,Mysore Pak,Sweets & Snacks,Sweets & Snacks,169,"$2,003.71",NaN
5,Idly Vada Combo,Lunch 3PD,Lunch 3PD,159,"$1,836.45",NaN
6,Thatte Idly,Lunch 3PD,Lunch 3PD,158,"$1,738.00",NaN
7,Vegetable Biriyani,Lunch,Lunch,151,"$1,629.38",NaN
8,Hot Lunch - No Rice,Lunch 3PD,Lunch 3PD,151,"$3,473.00",NaN
9,Samosa - 3 pcs,Dinner,Dinner,148,$725.48,NaN
10,Sambar - 8oz,Extras,Extras,138,$542.77,NaN
11,Onion Tomato Uthappam (2 pcs),Uthappam 3PD,Uthappam 3PD,134,"$1,595.11",NaN
12,Onion Tomato Chilli Uthappam (2 pcs),Uthappam,Uthappam Varieties,124,"$1,333.69",NaN
13,Pongal,Breakfast,Breakfast,123,"$1,212.79",NaN
14,Hot Lunch - No Rice,Lunch,Lunch Online,120,"$2,544.10",NaN
15,Medhu Vada,Dinner 3PD,Dinner 3PD,116,"$1,276.00",NaN
16,Mini Idly - Sambar On the Side,Dinner 3PD,Dinner 3PD,116,"$1,339.80",NaN
17,Onion Tomato Chili Uthappam (2 pcs),Dinner,Dinner,111,"$1,087.94",NaN
18,Sambar Vada,Breakfast,Breakfast,109,$857.40,NaN
19,Sambar - 24oz,Extras,Extras,108,"$1,270.60",NaN
20,Pongal Vada Combo,Breakfast,Breakfast,107,"$1,109.56",NaN
21,Thatte Idly,Breakfast,Breakfast Online,106,"$1,040.06",NaN
22,Vada Idly Pongal (VIP),Dinner 3PD,Dinner 3PD,106,"$1,224.30",NaN
23,Sambar - 32oz,Extras,Extras,104,"$1,649.63",NaN
24,Medhu Vada,Breakfast 3PD,Breakfast 3PD,103,"$1,133.00",NaN
25,Idly Vada Combo,Dinner 3PD,Dinner 3PD,103,"$1,189.65",NaN
26,Mini Podi Idly,Breakfast,Breakfast,101,$990.96,NaN
27,Sambar Idly,Breakfast,Breakfast,100,$782.95,NaN
28,Puliyodarai,Lunch,Lunch,100,$937.16,NaN
29,Vatha Kuzhambu,Extras,Extras,100,$974.92,NaN
30,Hot Lunch - With Rice,Lunch 3PD,Lunch 3PD,100,"$2,600.00",NaN
31,Bisibele Bath,Dinner,Dinner,95,$932.50,NaN

In [40]:
table4 = tabula.read_pdf(file1,pages=4)
table4[0]

,Menu Item,Menu Group,Menu,Item Qty,Net Amount,Unnamed: 0
0,Badam Cake,Sweets & Snacks,Sweets & Snacks,93,"$1,058.57",NaN
1,Karuveppillai Kuzhambu,Extras,Extras,91,$888.06,NaN
2,Kara Kuzhambu,Extras,Extras,91,$885.50,NaN
3,Bisibele Bath,Lunch 3PD,Lunch 3PD,90,$990.00,NaN
4,Milagu Kuzhambu,Extras,Extras,87,$850.88,NaN
5,Mini Podi Idly,Dinner,Dinner,86,$840.07,NaN
6,Mini Podi Idly,Dinner 3PD,Dinner 3PD,85,$935.00,NaN
7,Hot Lunch - With Rice,Lunch,Lunch,82,"$2,010.08",NaN
8,Thatte Idly,Lunch,Lunch Online,81,$796.53,NaN
9,Medhu Vada,Dinner,Dinner Online,78,$766.31,NaN
10,Vada Idly Pongal (VIP),Dinner,Dinner,78,$815.16,NaN
11,Onion Tomato Uthappam (2 pcs),Dinner,Dinner,78,$767.31,NaN
12,Vada Idly Pongal (VIP),Breakfast 3PD,Breakfast 3PD,76,$877.80,NaN
13,Bisibele Bath,Dinner 3PD,Dinner 3PD,76,$836.00,NaN
14,Onion Uthappam (2 pcs),Uthappam,Uthappam Varieties,76,$813.96,NaN
15,Mini Idly - Sambar On the Side,Breakfast 3PD,Breakfast 3PD,75,$866.25,NaN
16,Sambar Vada,Dinner,Dinner,74,$577.30,NaN
17,Parotta Kurma,Dinner,Dinner Online,74,$731.55,NaN
18,Samosa - 3 pcs,Dinner 3PD,Dinner 3PD,74,$407.00,NaN
19,Onion Uthappam (2 pcs),Uthappam 3PD,Uthappam 3PD,74,$886.97,NaN
20,Vegetable Biriyani,Dinner,Dinner,73,$787.41,NaN
21,Onion Chilli Uthappam (2 pcs),Uthappam 3PD,Uthappam 3PD,73,$871.34,NaN
22,Idly Pongal Combo,Breakfast,Breakfast,71,$715.05,NaN

In [47]:
import pandas as pd


# Convert any non-DataFrame objects into DataFrame objects
table[0] = pd.DataFrame(table[0])
table2[0] = pd.DataFrame(table2[0])
table3[0] = pd.DataFrame(table3[0])
table4[0] = pd.DataFrame(table4[0])

# Concatenate all tables into one DataFrame
combined_table = pd.concat([table[0], table2[0], table3[0], table4[0]])

# Reset index to ensure continuous index values
combined_table.reset_index(drop=True, inplace=True)

# Display the combined table
print(combined_table)

                               Menu Item    Menu Group          Menu  \
0                          Filter Coffee     Beverages     Beverages
1               Mylapore Express Curries        Extras        Extras
2                            Thatte Idly     Breakfast     Breakfast
3   24oz-Mylapore Express Curry (Single)        Extras        Extras
4                        Idly Vada Combo     Breakfast     Breakfast
..                                   ...           ...           ...
95                        Samosa - 3 pcs    Dinner 3PD    Dinner 3PD
96                Onion Uthappam (2 pcs)  Uthappam 3PD  Uthappam 3PD
97                    Vegetable Biriyani        Dinner        Dinner
98         Onion Chilli Uthappam (2 pcs)  Uthappam 3PD  Uthappam 3PD
99                     Idly Pongal Combo     Breakfast     Breakfast

   Item Qty  Net Amount  Unnamed: 0
0      3,342  $12,912.43         NaN
1      1,521  $26,619.58         NaN
2        875   $8,598.53         NaN
3        858   $8,338.84         NaN
4        739   $7,627.95         NaN
..       ...         ...         ...
95        74     $407.00         NaN
96        74     $886.97         NaN
97        73     $787.41         NaN
98        73     $871.34         NaN
99        71     $715.05         NaN

[100 rows x 6 columns]

In [48]:
# Define the file path for the CSV file
csv_file_path = "/content/extracted_data.csv"

# Convert the DataFrame to a CSV file
combined_table.to_csv(csv_file_path, index=False)

print("Combined table has been successfully saved to CSV:", csv_file_path)

Combined table has been successfully saved to CSV: /content/extracted_data.csv